{% extends 'base/base.html' %}

{% block title %}
Détail permission
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="card border-0 shadow-sm rounded-4">

        <div class="card-body p-4">

            <div class="d-flex justify-content-between mb-4">

                <h3>
                    Détail permission
                </h3>

                <a
                    href="{% url 'permission_list' %}"
                    class="btn btn-secondary"
                >

                    Retour

                </a>

            </div>

            <div class="row g-4">

                <div class="col-md-6">

                    <label class="fw-bold">
                        Employé
                    </label>

                    <p>
                        {{ permission.employe }}
                    </p>

                </div>

                <div class="col-md-6">

                    <label class="fw-bold">
                        Motif
                    </label>

                    <p>
                        {{ permission.motif }}
                    </p>

                </div>

                <div class="col-md-6">

                    <label class="fw-bold">
                        Heure sortie
                    </label>

                    <p>
                        {{ permission.heure_sortie }}
                    </p>

                </div>

                <div class="col-md-6">

                    <label class="fw-bold">
                        Heure retour
                    </label>

                    <p>
                        {{ permission.heure_retour }}
                    </p>

                </div>

                <div class="col-md-6">

                    <label class="fw-bold">
                        Nombre minutes
                    </label>

                    <p>
                        {{ permission.nombre_minute }}
                    </p>

                </div>

                <div class="col-md-6">

                    <label class="fw-bold">
                        Statut
                    </label>

                    <p>

                        {% if permission.statut == 'accepte' %}

                        <span class="badge bg-success">
                            Accepté
                        </span>

                        {% elif permission.statut == 'refuse' %}

                        <span class="badge bg-danger">
                            Refusé
                        </span>

                        {% else %}

                        <span class="badge bg-warning text-dark">
                            En attente
                        </span>

                        {% endif %}

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}