{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Dashboard RH{% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

    <!-- Bootstrap Icons -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    >

    <!-- Google Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"
    >

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>

<div class="wrapper">

    <!-- ================= SIDEBAR ================= -->

    <div class="sidebar">

        <div class="sidebar-header">

            <div class="sidebar-logo">

                <i class="bi bi-building"></i>

            </div>

            <div>

                <div class="sidebar-title">
                    RH MANAGER
                </div>

                <div class="sidebar-subtitle">
                    Gestion administrative
                </div>

            </div>

        </div>

        <!-- ================= MENU ================= -->

        <ul class="sidebar-menu">

            <!-- ================= EMPLOYE ================= -->

            {% if request.user.role == 'employe' %}

            <!-- DASHBOARD -->

            <li>

                <a href="{% url 'employe_dashboard' %}" class="active">

                    <i class="bi bi-grid-fill"></i>

                    <span>
                        Dashboard
                    </span>

                </a>

            </li>

            <!-- MES DEMANDES -->

            <li>

                <a
                    data-bs-toggle="collapse"
                    href="#demandeMenu"
                    role="button"
                    aria-expanded="false"
                >

                    <i class="bi bi-file-earmark-text-fill"></i>

                    <span>
                        Mes Demandes
                    </span>

                </a>

                <div class="collapse show" id="demandeMenu">

                    <ul class="list-unstyled ps-4 mt-2">

                        <li class="mb-2">

                            <a href="{% url 'permission_list' %}">

                                <i class="bi bi-person-check-fill"></i>

                                Permission

                            </a>

                        </li>

                        <li class="mb-2">

                            <a href="{% url 'conge_list' %}">

                                <i class="bi bi-calendar-check-fill"></i>

                                Congé

                            </a>

                        </li>

                        <li>

                            <a href="{% url 'repos_maladie_list' %}">

                                <i class="bi bi-heart-pulse-fill"></i>

                                Repos maladie

                            </a>

                        </li>

                    </ul>

                </div>

            </li>

            <!-- SUIVI -->

            <li>

                <a href="">

                    <i class="bi bi-list-check"></i>

                    <span>
                        Suivi des demandes
                    </span>

                </a>

            </li>

            <!-- PROFIL -->

            <li>

                <a href="">

                    <i class="bi bi-person-circle"></i>

                    <span>
                        Mon profil
                    </span>

                </a>

            </li>

            {% endif %}

            <!-- ================= MANAGER ================= -->

            {% if request.user.role == 'manager' %}

            <!-- ================= DASHBOARD ================= -->
            <li>

                <a href="{% url 'manager_dashboard' %}" class="active">

                    <i class="bi bi-grid-fill"></i>

                    <span>Dashboard</span>

                </a>

            </li>

            <!-- ================= DEMANDES ================= -->
            <li>

                <a
                    data-bs-toggle="collapse"
                    href="#demandeMenu"
                    role="button"
                    aria-expanded="false"
                >

                    <i class="bi bi-file-earmark-text-fill"></i>

                    <span>Demandes</span>

                </a>

                <div class="collapse" id="demandeMenu">

                    <ul class="list-unstyled ps-4 mt-2">

                        <li class="mb-2">
                            <a href="{% url 'permission_list' %}" class="text-decoration-none">
                                <i class="bi bi-arrow-right-circle"></i>
                                Permissions
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="{% url 'conge_list' %}" class="text-decoration-none">
                                <i class="bi bi-calendar-check"></i>
                                Congés
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="{% url 'repos_maladie_list' %}" class="text-decoration-none">
                                <i class="bi bi-heart-pulse"></i>
                                Repos maladie
                            </a>
                        </li>

                    </ul>

                </div>

            </li>

            <!-- ================= VALIDATION ================= -->
            <li>

                <a
                    data-bs-toggle="collapse"
                    href="#validationMenu"
                    role="button"
                    aria-expanded="false"
                >

                    <i class="bi bi-check-circle-fill"></i>

                    <span>Validation</span>

                </a>

                <div class="collapse" id="validationMenu">

                    <ul class="list-unstyled ps-4 mt-2">

                        <li class="mb-2">
                            <a href="" class="text-decoration-none">
                                Permissions en attente
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="" class="text-decoration-none">
                                Congés en attente
                            </a>
                        </li>

                        <li class="mb-2">
                            <a href="" class="text-decoration-none">
                                Repos maladie en attente
                            </a>
                        </li>

                    </ul>

                </div>

            </li>

            <!-- ================= EQUIPE ================= -->
            <li>

                <a href="">

                    <i class="bi bi-people-fill"></i>

                    <span>Mon équipe</span>

                </a>

            </li>

            <!-- ================= STATISTIQUES ================= -->
            <li>

                <a href="">

                    <i class="bi bi-bar-chart-fill"></i>

                    <span>Statistiques</span>

                </a>

            </li>

            {% endif %}

            <!-- ================= RH ================= -->

            {% if request.user.role == 'rh' %}

            <li>

                <a href="{% url 'rh_dashboard' %}" class="active">

                    <i class="bi bi-grid-fill"></i>

                    <span>
                        Dashboard
                    </span>

                </a>

            </li>

            <li>

                <a href="">

                    <i class="bi bi-calendar-check-fill"></i>

                    <span>
                        Gestion congés
                    </span>

                </a>

            </li>

            <li>

                <a href="{% url 'validation_list' %}">

                    <i class="bi bi-check2-square"></i>

                    <span>
                        Validations
                    </span>

                </a>

            </li>

            {% endif %}

            <!-- ================= ADMIN ================= -->

            {% if request.user.role == 'admin' %}

            <li>

                <a href="{% url 'admin_dashboard' %}" class="active">

                    <i class="bi bi-grid-fill"></i>

                    <span>
                        Dashboard
                    </span>

                </a>

            </li>

            <li>

                <a href="{% url 'utilisateur_list' %}">

                    <i class="bi bi-person-fill-add"></i>

                    <span>
                        Gérer les utilisateurs
                    </span>
                </a>

            </li>


            <li>

                <a href="{% url 'departement_list' %}">

                    <i class="bi bi-diagram-3-fill"></i>

                    <span>
                        Gérer départements
                    </span>

                </a>

            </li>

            <li>

                <a href="{% url 'validation_list' %}">

                    <i class="bi bi-clock-history"></i>

                    <span>
                        Historique
                    </span>

                </a>

            </li>

            {% endif %}

        </ul>

    </div>

    <!-- ================= MAIN ================= -->

    <div class="main">

        <!-- ================= TOPBAR ================= -->

        <div class="topbar">

            <div>

                <p class="text-muted mb-0">

                    Votre espace personnel
                </p>

                <div class="topbar-subtitle">

                    Gestion des permissions et congés

                </div>

            </div>

            <!-- ================= PROFILE ================= -->

            <div class="profile-box">

                <div class="profile-avatar">

                    <i class="bi bi-person-fill"></i>

                </div>

                <div class="profile-info">

                    <h6>

                        {{ request.user.employe }}

                    </h6>

                    <p>
                        {% if request.user.role == 'admin' %}

                                    <span class="badge bg-danger">

                                        Administrateur

                                    </span>

                                {% elif request.user.role == 'rh' %}

                                    <span class="badge bg-primary">

                                        RH

                                    </span>

                                {% elif request.user.role == 'manager' %}

                                    <span class="badge bg-warning text-dark">

                                        Manager

                                    </span>

                                {% elif request.user.role == 'employe' %}

                                    <span class="badge bg-success">

                                        Employé

                                    </span>

                                {% endif %}

                        {{ request.user.employe.departement }}

                    </p>

                </div>

                <!-- ================= DROPDOWN ================= -->

                <div class="dropdown">

                    <button
                        class="profile-btn"
                        data-bs-toggle="dropdown"
                    >

                        <i class="bi bi-three-dots-vertical"></i>

                    </button>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>

                            <a class="dropdown-item" href="#">

                                <i class="bi bi-person"></i>

                                Mon profil

                            </a>

                        </li>

                        <li>

                            <a class="dropdown-item" href="#">

                                <i class="bi bi-gear"></i>

                                Paramètres

                            </a>

                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>

                            <a
                                class="dropdown-item text-danger"
                                href="{% url 'logout' %}"
                            >

                                <i class="bi bi-box-arrow-right"></i>

                                Déconnexion

                            </a>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

        <!-- ================= CONTENT ================= -->

        <div class="content">

            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>

<!-- Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>