<div class="bg-dark text-white p-3 vh-100" style="width: 260px;">

    <h3 class="text-center mb-4">
        RH Manager
    </h3>

    <ul class="nav flex-column">

        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">
                Dashboard
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">
                Permissions
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">
                Congés
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">
                Repos maladies
            </a>
        </li>

        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">
                Validations
            </a>
        </li>

    </ul>

</div>